<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding JS FIle</title>
    <script th:src="@{'/javascript/application.js'}"></script>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet" />
</head>
<body>
<header th:insert="layouts/index.html :: header"> </header>
<div class="container">
    <aside>
        <h4>This is the side bar</h4>

    </aside>
    <div>
        <button onclick="throwalert()">Click</button>
    </div>
    <div>
        <p>Hello to My world!!!!</p>
    </div>
    <div th:replace="layouts/index.html :: footer"></div>
</div>
</body>
</html>