<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:annotation-config/>

    <aop:aspectj-autoproxy/>



    <bean class="com.ttn.spring.com.ttn.spring.exercise_1.Database">
        <property name="port" value="3308"/>
        <property name="name" value="events"/>
    </bean>

    <bean class="com.ttn.spring.com.ttn.spring.exercise_1.MyListenerExercise"/>
    <bean class="com.ttn.spring.com.ttn.spring.exercise_1.DummyExercise"/>
    <bean class="com.ttn.spring.com.ttn.spring.exercise_1.CustomEventListener"/>


<!--AOP classes registration-->
    <bean class="com.ttn.spring.aop.AopDummy"/>
    <bean class="com.ttn.spring.aop.MyAspect"/>

</beans>